<div class="container">
	<div class="row">
		<div class="col-md-5">
			<form action="" id="chat-form">
				<label for="user">Nombre de usuario</label>
				<input type="text" name="user">
				<label for="text">Chat</label>
				<input type="text" name="text">
				<input type="submit" value="Enviar">
			</form>
		</div>
	</div>
	<div class="col-md-5">
		<ul id="historialChat">
		</ul>
	</div>
</div>