<div class='container'>
	<div class="row">
		<form action="" class='col-8 align-self-center' id="add_product">
			<label for="name">Nombre</label>
			<input type="text" name="name" id="name">
			<label for="number">Precio</label>
			<input type="number" name="price" id="price">
			<label for="thumbnail">Foto URL</label>
			<input type="text" name="thumbnail" id="thumbnail">
			<input type="submit" value="Agregar">
		</form>
	</div>
</div>
