<table class="container" id="con-productos-test">
	<tr class="row">
		<th class="col-3 align-self-center">Nombre</th>
		<th class="col-3 align-self-center">Precio</th>
		<th class="col-3 align-self-center">Thumbnail</th>
	</tr>
</table>
